---
import { Button, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info={{ slug: '/about', hideComment: true }}>
  <p>Developer</p>
  <p>
    I have extensive experience working with various video editing software and have been doing frontend development for ~3 years. Currently, I'm working on BetterSEQTA+ which has ~60k weekly active users. I'm passionate about building AI models and interfaces to democratise personal inference, and I'm always pushing Generative AI to its absolute limits through prompt engineering.
  </p>
  <Button title='Sponsor Me' class='w-fit' href='https://ko-fi.com/sethburkart' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Video editing and content creation using professional software like DaVinci Resolve and Premiere Pro</li>
    <li>
      Building Chrome extensions and web applications that improve user experiences (like BetterSEQTA+)
    </li>
    <li>Experimenting with AI models and prompt engineering to push the boundaries of what's possible</li>
    <li>Creating prank applications and fun projects (like Rick And Dannys Web Remix)</li>
    <li>Contributing to open source projects and building development tools for the community</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Currently using these tools:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Davinci Resolve',
        description: 'Video Editing',
        href: 'https://www.blackmagicdesign.com/au/products/davinciresolve/',
        icon: import('@/assets/tools/resolve.svg?raw')
      },
      {
        name: 'Figma',
        description: 'UI/UX Design',
        href: 'https://www.figma.com/',
        icon: import('@/assets/tools/figma.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere.html',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Blender',
        description: '3D Modeling',
        href: 'https://www.blender.org/',
        icon: import('@/assets/tools/blender.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Brave',
        description: 'Browser',
        href: 'https://brave.com/',
        icon: import('@/assets/tools/brave.svg?raw')
      },
      {
        name: 'Zen',
        description: 'Browser',
        href: 'https://zen-browser.app/',
        icon: import('@/assets/tools/zen.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Raycast',
        description: 'Productivity',
        href: 'https://www.raycast.com/',
        icon: import('@/assets/tools/raycast.svg?raw')
      },
      {
        name: 'Shottr',
        description: 'Screenshoting',
        href: 'https://shottr.cc/',
        icon: import('@/assets/tools/shottr.svg?raw')
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Sequoia',
        description: 'MacBook Pro',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Proxmox',
        description: 'Virtualization',
        href: 'https://proxmox.com/',
        icon: import('@/assets/tools/proxmox.svg?raw')
      },
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Feel free to connect with me on various platforms! I'm always open to collaborating on interesting projects, especially those involving AI models and interfaces. You can find my latest work and contributions on GitHub, or reach out via email for project discussions.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/sethburkart123',
        text: 'followers',
        api: 'github/sethburkart123'
      },
      {
        platform: 'Twitter (X)',
        icon: 'x',
        color: '#000000',
        link: 'https://x.com/sethburkart',
        text: 'followers',
        api: 'twitter/sethburkart'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-06-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a>'
      }
    ]}
  />
</PageLayout>
